@page "/myadverts"
@using System.Net.Http
@using KNet.Web.Data
@inject AdvertService advertService
@inject HttpClient Http

@if (Adverts.Any())
{
    <div>
        <div>
            <MatButton>Delete Marked Ads</MatButton>
            <MatButton>Create new ad</MatButton>
        </div>
        <div>
            <MatButton>Select/Unselect All</MatButton>
            <h5>MY ADVERTS</h5>
        </div>

        @foreach (AdvertModel ad in Adverts)
        {
            <AdvertComponent advert=ad />
        }
    </div>
}



@code {

    public List<AdvertModel> Adverts = new List<AdvertModel>();

    protected async override Task OnInitializedAsync()
    {
        Adverts = await GetAdvertsByUserId(Guid.Parse("a453298d-af76-46a0-aac0-08d8b0bc1bee"));
    }

    async Task<List<AdvertModel>> GetAdvertsByUserId(Guid userId)
    {
        return await Http.GetJsonAsync<List<AdvertModel>>
            (@"https://localhost:44360/api/v1/Advert/userId?id=" + userId);
    }
}
