@page "/myadverts"
@using System.Net.Http
@using KNet.Web.Data
@using KNet.Web.Controllers
@inject AdvertController AdvertController
@inject UserController UserController
@inject HttpClient Http
@inject WebContext context

@if (Adverts.Any())
{
    <div>
        <div>
            <MatButton>Delete Marked Ads</MatButton>
            <MatButton>Create new ad</MatButton>
        </div>
        <div>
            <MatButton>Select/Unselect All</MatButton>
            <h5>MY ADVERTS</h5>
        </div>
        <div>
            @foreach (AdvertModel ad in Adverts)
            {
                <AdvertComponent advert=ad editMode="true" />
            }
        </div>
    </div>
}



@code {
    public List<AdvertModel> Adverts = new List<AdvertModel>();

    protected async override Task OnInitializedAsync()
    {
        Adverts = await AdvertController
            .GetAdvertsByUserId(
            Guid.Parse("a453298d-af76-46a0-aac0-08d8b0bc1bee")
            );
    }

    async void DeleteAdvert(Guid advertId)
    {
        await AdvertController.DeleteAdvert(advertId);
    }
}
